@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="card">
                <h5 class="card-header">@Html.DisplayFor(modelItem => item.Author.UserName)</h5>
                <p class="card-text">
                    <small class="text-body-secondary">Đăng lúc: @Html.DisplayFor(modelItem => item.CreateAt)</small>
                    <small class="text-body-secondary">Đăng lúc: @Html.DisplayFor(modelItem => item.UpdateAt)</small>
                </p>

                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </li>
    }
</ul>